Data cleaning and treatment missing values

In [107]:
import pandas as pd

In [108]:
pd.__version__

'2.2.2'

In [109]:
#! pip install --upgrade openpyxl

In [110]:
ds = pd.read_csv(r"C:\Users\DELL\Downloads\global_freelancers_raw.csv")
ds

,freelancer_ID,name,gender,age,country,language,primary_skill,years_of_experience,hourly_rate (USD),rating,is_active,client_satisfaction
0,FL250001,Ms. Nicole Kidd,f,52.0,Italy,Italian,Blockchain Development,11.0,100,NaN,0,NaN
1,FL250002,Vanessa Garcia,FEMALE,52.0,Australia,English,Mobile Apps,34.0,USD 100,3.3,1,84%
2,FL250003,Juan Nelson,male,53.0,Germany,German,Graphic Design,31.0,50,0.0,N,71%
3,FL250004,Amanda Spencer,F,38.0,Australia,English,Web Development,4.0,$40,1.5,N,90%
4,FL250005,Lynn Curtis DDS,female,53.0,Germany,German,Web Development,27.0,30,4.8,0,83%
...,...,...,...,...,...,...,...,...,...,...,...,...
995,FL250996,Albert Wilcox,Male,56.0,Turkey,Turkish,DevOps,13.0,100,0.0,no,68%
996,FL250997,Cheryl Norris,f,26.0,Germany,German,Blockchain Development,6.0,USD 40,2.8,N,82
997,FL250998,Kathy Watkins,female,37.0,Japan,Japanese,Data Analysis,15.0,75,NaN,False,94%
998,FL250999,John Obrien,m,46.0,Russia,Russian,Machine Learning,22.0,100,2.8,yes,97
999,FL251000,Dawn Green,Female,36.0,Mexico,Spanish,UI/UX Design,18.0,$20,1.7,1,72

In [111]:
ds.isnull().sum()

freelancer_ID            0
name                     0
gender                   0
age                     30
country                  0
language                 0
primary_skill            0
years_of_experience     51
hourly_rate (USD)       94
rating                 101
is_active               89
client_satisfaction    176
dtype: int64

In [112]:
# ds.info()
# ds.isnull().sum()
ds.columns
# ds.isnull().values.any()
#ds.shape

Index(['freelancer_ID', 'name', 'gender', 'age', 'country', 'language',
       'primary_skill', 'years_of_experience', 'hourly_rate (USD)', 'rating',
       'is_active', 'client_satisfaction'],
      dtype='object')

In [ ]:
#ds["age"] = ds["age"].fillna(ds["age"].median())
#ds.isnull().sum()
#ds['rating']
#ds['rating'] = ds['rating'].fillna(ds['rating'].median())
#ds['rating']

0      2.6
1      3.3
2      0.0
3      1.5
4      4.8
      ...
995    0.0
996    2.8
997    2.6
998    2.8
999    1.7
Name: rating, Length: 1000, dtype: float64

In [127]:
#ds["years_of_experience"]

ds["years_of_experience"] = ds["years_of_experience"].fillna(ds["years_of_experience"].median())

ds.isnull().sum()

freelancer_ID            0
name                     0
gender                   0
age                      0
country                  0
language                 0
primary_skill            0
years_of_experience      0
hourly_rate (USD)       94
rating                   0
is_active               89
client_satisfaction    176
dtype: int64

In [162]:

#ds["client_satisfaction"]
#ds["client_satisfaction"] = ds["client_satisfaction"].str.replace('%', '',regex=True)
ds["client_satisfaction"] = ds["client_satisfaction"].fillna(ds["client_satisfaction"].mode()[0])
#ds["client_satisfaction"]

In [163]:
#ds["hourly_rate (USD)"] = ds['hourly_rate (USD)'].str.replace(r"[^\d.]", "", regex=True)
#ds["hourly_rate (USD)"] = ds["hourly_rate (USD)"].fillna(ds["hourly_rate (USD)"].mode()[0])
#ds['hourly_rate (USD)'].isnull().values.any()
#ds=ds.drop(columns =["is_active"])
ds.isnull().sum()

freelancer_ID          0
name                   0
gender                 0
age                    0
country                0
language               0
primary_skill          0
years_of_experience    0
hourly_rate (USD)      0
rating                 0
client_satisfaction    0
dtype: int64

In [ ]:
#ds["gender"]
ds["gender"] = ds["gender"].replace({
    "f":'FEMALE',
    "m":'MALE',
    "female": 'FEMALE',
    "male":'MALE'
})

In [174]:
#ds["gender"] = ds["gender"].replace({'FEMALE':'F','MALE':'M',"Male":'M',"Female":'F'})
ds["gender"]

0      F
1      F
2      M
3      F
4      F
      ..
995    M
996    F
997    F
998    M
999    F
Name: gender, Length: 1000, dtype: object

In [175]:
ds

,freelancer_ID,name,gender,age,country,language,primary_skill,years_of_experience,hourly_rate (USD),rating,client_satisfaction
0,FL250001,Ms. Nicole Kidd,F,52.0,Italy,Italian,Blockchain Development,11.0,100,2.6,64
1,FL250002,Vanessa Garcia,F,52.0,Australia,English,Mobile Apps,34.0,100,3.3,84
2,FL250003,Juan Nelson,M,53.0,Germany,German,Graphic Design,31.0,50,0.0,71
3,FL250004,Amanda Spencer,F,38.0,Australia,English,Web Development,4.0,40,1.5,90
4,FL250005,Lynn Curtis DDS,F,53.0,Germany,German,Web Development,27.0,30,4.8,83
...,...,...,...,...,...,...,...,...,...,...,...
995,FL250996,Albert Wilcox,M,56.0,Turkey,Turkish,DevOps,13.0,100,0.0,68
996,FL250997,Cheryl Norris,F,26.0,Germany,German,Blockchain Development,6.0,40,2.8,82
997,FL250998,Kathy Watkins,F,37.0,Japan,Japanese,Data Analysis,15.0,75,2.6,94
998,FL250999,John Obrien,M,46.0,Russia,Russian,Machine Learning,22.0,100,2.8,97
999,FL251000,Dawn Green,F,36.0,Mexico,Spanish,UI/UX Design,18.0,20,1.7,72

In [177]:
ds

,freelancer_ID,name,gender,age,country,language,primary_skill,years_of_experience,hourly_rate (USD),rating,client_satisfaction
0,FL250001,Ms. Nicole Kidd,F,52.0,Italy,Italian,Blockchain Development,11.0,100,2.6,64
1,FL250002,Vanessa Garcia,F,52.0,Australia,English,Mobile Apps,34.0,100,3.3,84
2,FL250003,Juan Nelson,M,53.0,Germany,German,Graphic Design,31.0,50,0.0,71
3,FL250004,Amanda Spencer,F,38.0,Australia,English,Web Development,4.0,40,1.5,90
4,FL250005,Lynn Curtis DDS,F,53.0,Germany,German,Web Development,27.0,30,4.8,83
...,...,...,...,...,...,...,...,...,...,...,...
995,FL250996,Albert Wilcox,M,56.0,Turkey,Turkish,DevOps,13.0,100,0.0,68
996,FL250997,Cheryl Norris,F,26.0,Germany,German,Blockchain Development,6.0,40,2.8,82
997,FL250998,Kathy Watkins,F,37.0,Japan,Japanese,Data Analysis,15.0,75,2.6,94
998,FL250999,John Obrien,M,46.0,Russia,Russian,Machine Learning,22.0,100,2.8,97
999,FL251000,Dawn Green,F,36.0,Mexico,Spanish,UI/UX Design,18.0,20,1.7,72